
Temp/

Logs/

Library/

.vs/

obj/

Assembly-CSharp-Editor.csproj

Assembly-CSharp.csproj

GodfatherGameJam2020-Team20.sln

ParsecOverlay.csproj

*.csproj
*.sln

Assets/Script/Menu.cs
